/* 

ABOUT

*/

.container {
  width: 80%;
  margin: 0 auto;
}

.teaser {
  position: relative;
}

.title {
  position: absolute;

}

.img-right {
  border-radius: 50%;
  margin-left: calc(75% - 100px);
  background-image: url("../images/schulz_svenja.jpg");
  background-size: 200px auto;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;

}

.content {

}

.main-content {
  height: 250px;
  background-color: blue;
  width: 75%;
  float:left;
}

.sidebar {
  height:250px;
  background-color: black;
  float:left;
  width:25%;
}
/* 

HOME

*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content:hover {
  display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* 

Generic

*/


.profile-image {
  max-width: 100%;
	height: auto;
	width: auto\9; /* IE8 */
}

.right {
  float: right;
  width: 50%;
}

.left {
  float: left;
  width: 50%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

th {
  border-bottom: 3px solid black;
  font-size: 72px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


table {
  width: 70%;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
